<header>
    
    <div id="banner">
        <div id="title">
            <h1>Chemistry</h1>
            <h2>Catchphrase</h2>
        </div>
        
        <div id="buttons">
            <button id="showMyProfile" onclick="toggleElement('myProfileModal','open')">My profile</button>
            <button id="signIn" onclick="toggleElement('signInModal','open')">Sign in</button>
            <button id="signUp" onclick="toggleElement('signUpModal','open')">Sign up</button>
        </div>
    </div>

    {{!-- {{> message }} --}}
    {{> myProfile }}
    {{> signIn }}
    {{> signUp }}

    <form id="mainForm" action="/look" method="POST">

        <div id="typeOfSearchWrapper" class="wrapper">
            <h2>Look for</h2>

            <label for="peopleRadio">People</label>
            <span class="radio">
                <input type="radio" id="peopleRadio" class="hidden" name="peopleOrAd" value="people">
            </span>

            <label for="adRadio">Ads</label>
            <span class="radio">
                <input type="radio" id="adRadio" class="hidden" name="peopleOrAd" value="ad">
            </span>
        </div>

        <div id="countyWrapper" class="wrapper">
            {{!-- <label for="county">County</label> --}}
            <h2>County</h2>
            <select name="county" id="county">
                {{#each counties}}
                    <option value="{{@index}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        
        <div id="instrumentsWrapper" class="wrapper">
            <h2>Instruments</h2>
            {{#each instruments}}
            <label for="{{this}}">{{this}}</label>
            <span class="radio">
                <input type="checkbox" id="{{this}}" class="hidden" name="instruments" value="{{this}}">
            </span>
            {{/each}}
        </div>

        <button type="submit">Submit</button>

    </form>

</header>